body {
    background-color: rgb(105, 194, 214);
}

img {
    max-width: 100%;
    border: 2px white solid;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.rating {
    font-weight: bold;
}

.release {
    font-weight: bold;
}

.eachMovie {
    background-color: black;
    color: white;
}

.btnModal {
    background-color: black;
    margin-bottom: 35px;
    border: black;
}

.modal-content {
    color: black;
    padding: 2px;
    min-width: 656px;
}

.moviePosterInModal {
    padding: 12px;
}

.movieName {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Carrois Gothic SC', sans-serif;
}

.btn-primary {
    margin: 5px;
    padding: 5px;
    background: transparent;
    color: #5EADFF;
    border: 1px solid #5EADFF;
}

#movieGenreLabel {
    color: white;
}

.caroufredsel_wrapper {
    width: 100% !important;
}

.movie-detail-h2 {
    font-size: 14px;
    font-weight: bold;
    color: #dacb46;
    text-transform: uppercase;
    margin-top: 5px;
}

.block-actors {
    margin-top: 10px !important;
    /* border: 1px solid #121212; */
    background: rgb(30, 49, 70);
    padding: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;
}

.block-director {
    margin-top: 10px !important;
    border: 1px solid #121212;
    background: rgb(27, 51, 77);
    padding: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;
}

.block-director .director-image {
    height: 95px;
    width: 95px;
    background-size: cover;
    background-repeat: no-repeat;
}

.block-actors .actor-image {
    height: 90px;
    width: 90px;
    background-size: cover;
    background-repeat: no-repeat;
}

.block-actors #list_actor_carousel {
    height: 150px;
    overflow: hidden !important;
}

#list_actor_carousel {
    white-space: nowrap;
}

#list_actor_carousel .actor-profile-item {
    width: 92px;
    height: 100px;
    margin-right: 12px;
    display: inline-block;
    cursor: pointer;
}

#list_actor_carousel li {
    display: inline-block !important;
    float: none !important;
}

.block-actors .actor-name .actor-name-a {
    display: block;
    font-size: 12px;
    padding: 5px 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.block-actors .actor-name .character {
    font-size: 12px;
    color: #999;
}

.block-actors .prev,
.block-actors .next {
    top: 82px;
    position: absolute;
    padding: 8px 5px;
    background: rgba(0, 0, 0, 0.6);
}

ul.row a {
    display: inline;
}

h4 {
    text-align: center;
    display: inline;
}

.block-text .rel .zmin {
    background-color: rgb(125, 161, 66);
    border-radius: 5px;
    box-shadow: 0 3px 0 #2c2222;
    color: #1f1d1d;
    font-size: 14px;
    margin-top: 27px;
    padding: 15px 18px;
    position: relative;
}

.actorName {
    font-size: 35px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#loader-wrapper {
    position: relative;
    top: 50px;
    left: 43%;
    height: 100%;
    z-index: 1000;
}

.loader {
    position: absolute;
    z-index: 1500;
    border-radius: 50%;
    border: 3px solid transparent;
}

#loader1 {
    width: 100px;
    height: 100px;
    top: 0px;
    left: 0px;
    border-top-color: #E28433;
    -webkit-animation: spin 2.5s linear infinite;
    animation: spin 2.5s linear infinite;
}

#loader2 {
    width: 90px;
    height: 90px;
    top: 5px;
    left: 5px;
    border-top-color: #F7A54B;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader3 {
    width: 80px;
    height: 80px;
    top: 10px;
    left: 10px;
    border-top-color: #0989CA;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

#loader4 {
    width: 70px;
    height: 70px;
    top: 15px;
    left: 15px;
    border-top-color: #186FAE;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

#loader5 {
    width: 60px;
    height: 60px;
    top: 20px;
    left: 20px;
    border-top-color: #2F353F;
    -webkit-animation: spin 0.6s linear infinite;
    animation: spin 0.6s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}